* { 
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: white;
}
body {
    background-color: rgb(0, 0, 0);
}
canvas { 
    position: absolute;
    left: 32%;
    background: rgb(0, 0, 0);
    display: block;
    margin: 0 auto;
    border: 1px solid white;
}
#myCanvas {
    z-index: 3;
    opacity: 0.8;
}
#canvaBackground {
    z-index: 1;
}
.btnGameOver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#retry {
    margin: 15% 5% 5% 5%;
    padding: 3%;
    text-align: center;
    font-size: 1rem;
    color: black;
    width: 70%;
    cursor: pointer;
}

.container {
    display: flex;
}
.container-canva h1 {
    width: 97vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.container-infos {
    
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.healthAndAmmo, .scoreAndTime {
    margin-top: 0px;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container-infos h2, .container-infos p, #arrow-key {
    margin-top: 20px;
}
#arrow-key {
    width: 100px;
    height: auto;
    margin: 0;
}
#space-key {
    width: 200px;
    height: auto;
}
.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 20% 0;
}
.controls p {
    margin: 5%;
}
.container-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10% 0 10%;
}
.difficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10% 0 10%;
}
.difficulty button {
    margin: 5%;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 2%
}
button:hover {
    scale: 1.1;
}
.difficulty h3 {
    margin: 5%;
}
.hide {
    display: none;
}
.start {
    margin-top: 10%;
    width: 97vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.startInfos {
    margin-top: 5%;
    width: 97vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.startInfos h3 {
    margin-top: 5%
}
.start h1, .start h3 {
    margin: 2% 0 2% 0;
}
.container-start {
    display: flex;
    flex-direction: column;
}
.healthBar {
    width: 200px;
    height: 30px;
    background-color: grey;
}
.bar {
    width: 200px;
    height:30px;
    background-color: green;
    border: 1px solid white;
}
.hardBar {
    width: 100px;
}
#ammo {
    width: 180px;
}
.gameOver {
    z-index: 5;
    position: absolute;
    margin-top: 44vh;
    margin-left: 44vw;
}